 .content-block-inner th {
                text-align: left;
            }
            .item-title-dark{
                color: white;
            }
            .item-inner-right{
                back
            }
            

#error_notice {
    text-align: center;
    color: #999;
    margin-top: 30%;
    font-size: 14px;
}

#refresh-button {
    padding-top: 6px;
}

.center.sliding.klassenHeader {
	left: inherit;
	margin: 0 auto;
}

#welcomeMessage {
	font-size: 15px!important;
	color: #6d6d72;
	font-weight: 500;
	padding: 10px 12px;
}

#plandate {
	margin-top: 15px;
}

.delimiter-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    width: 95%;
    margin: 0 auto;
    height: 20px;
}

.delimiter-container .list-block {
	margin-bottom: 0;
}

.delimiter-container .content-block-title {
	margin-left: 3px;
}

.delimiter-container.margin {
    margin-bottom: 50px;
}

.arrowDown {
    width: 20px;
    float: left;
    margin-top: 0px;
    margin-right: 4px;
    transition: 400ms ease all;
    margin-left: 4px;
}
.arrowDown.active {
  transform: rotate(180deg);
}