@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#error_notice {
    text-align: center;
    color: #999;
    margin-top: 30%;
    font-size: 14px;
}

#refresh-button {
    margin-top: 28px;
    margin-right: 10px;
}

#password_show_icon {
    width: 25px;
    float: right;
    position: absolute;
    right: 1px;
    top: 5px;
    transition: 200ms ease all;
    padding: 5px 3px;
    display: none;
}

#password_show_icon.active {
	background: #2196f3;
}

#welcomeMessage {
	font-size: 15px!important;
	color: rgba(0, 0, 0, 0.54);
	font-weight: 500;
	padding: 10px 12px;
}

#plandate {
	padding-top: 0;
}

.delimiter-container {
    border-bottom: 2px solid rgba(0, 0, 0, 0.14);
    background-color: #e3e3e3;
    width: 95%;
    margin: 0 auto;
    height: 50px;
}

.delimiter-container .list-block {
	margin-bottom: 0;
}

.delimiter-container .content-block-title {
    line-height: 18px;
}

.delimiter-container.margin {
    margin-bottom: 50px;
}