@media screen and (max-width: 767px) {
    #refresh-button {
        color: white;
        /* top: 15px; */
        font-size: 16px;
        position: relative;
        left: 17px;
        margin-bottom: 0px;
    }
    .navbar-nav>li>a{
        /* padding-top: 0px; */
        padding-top: 20.5px;
    }
}
@media screen and (min-width: 768px) {
    #refresh-button{
        color: white;top: 15px;font-size: 16px;position: relative;
    }
    .navbar-nav>li>a{
        padding-top: 20.5px;
    }
}
.panel-default {
	opacity: 0.9;
}

.navbar {
	margin-bottom: 0;
}

.container {
	margin-top: 18px;
}

.bck-btn {
	width: 90%;
	margin: 0 auto;
	display: block!important;
	margin-bottom: 20px!important;
}

a.active {
	font-weight: 800;
}

.col-md-4.col-md-offset-7 {
	padding-left: 0;
	padding-right: 0;
}

.form-group.last { margin-bottom:0px; }

.copyright_label {
	padding: 0 10px;
}

.delimiter-container {
	margin: 0 auto;
	width: 90%;
}

#login-status {
    text-align: center;
    margin: 14px 0;
}

#login-status.red {
	color: red;	
}

#login-status.green {
	color: green;
}
}
