<!-- Informationsseite über diese App-->

<!-- Navigationsleiste -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding">
			<a href="#" onclick="currentPage = pageState.MAINPAGE;" class="back link"> <i class="icon icon-back"></i><span>Zurück</span></a>
		</div>
		<div class="center sliding">
			Informationen
		</div>
		<!--<div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>-->
	</div>
</div>
<!-- Inhalt unter der Navigationsleite -->
<div class="pages">
	<div data-page="contacts" class="page">
		<div class="page-content">
			<div class="content-block">
				<h3>Allgemeine Hinweise</h3>
				<p>
					Diese App wurde im Rahmen eines schulischen Projektes für die Ferdinand-Braun-Schule Fulda entwickelt.
				</p>

				<h3>Weiterverwendung</h3>
				<p>
					Der Source-Code der App ist öffentlich verfügbar und kann gerne weiterverwendet werden.
				</p>

				<h3>Anregungen</h3>
				<p>
					Anregungen und Probleme können an folgende E-Mail Adresse geschickt werden: <a class="external" href="mailto:fbs.fulda.dev@gmail.com">fbs.fulda.dev@gmail.com</a>
				</p>

				<h3>Entwickler der App:</h3>
				<ul>
					<li>
						Alexander Propp
					</li>
					<li>
						Lorenz Hohmann
					</li>
					<li>
						Tim Blochwitz
					</li>
				</ul>
				<p>
					<strong>Betreuende Lehrkraft:</strong> Jörg Reuter
				</p>
			</div>
		</div>
	</div>
</div>