<!-- Navigationsleiste -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding">
			<a href="#" onclick="currentPage = pageState.LOGINPAGE;" class="back link"> <i class="icon icon-back"></i><span>Zurück</span></a>
		</div>
		<div class="center sliding">
			Anmeldeprobleme
		</div>
	</div>
</div>
<!-- Inhalt unter der Navigationsleite -->
<div class="pages">
	<div data-page="no_login" class="page">
		<div class="page-content">
			<div class="page-content login-screen-content">
				<div class="list-block-label">
					<p>
						<strong>Ich habe keinen Moodle-Zugang</strong>
					</p>
					<p>
						Generell hat jeder Schüler einen persönlichen Moodle-Zugang. Dein Klassenlehrer kann dir erklären, welche Login-Daten du für den ersten Login benutzen kannst.
					</p>
					<br>
					<p>
						<strong>Ich habe mein Passwort vergessen</strong>
					</p>
					<p>
						Du kannst dein Passwort <a class="external" target="_blank" href="https://fbs-moodle.schulen-fulda.de/moodle/login/forgot_password.php">auf dieser Seite</a> zurücksetzen
					</p>
					<br>
					<p>
						<strong>Ich habe eine andere Frage</strong>
					</p>
					<p>
						Hierzu kannst du eine E-Mail an <a class="external" href="mailto:joerg@reuter.sc">Herr Jörg Reuter</a> verfassen und ihm dein Problem genau schildern.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>