<!-- Zeigt die Vertretungen der jeweiligen Klasse an -->

<!-- Navigationsleiste -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding">
			<a href="#" onclick="currentPage = pageState.MAINPAGE;" class="back link"> <i class="icon icon-back"></i><span>Zurück</span></a>
		</div>
		<div class="center sliding klassenHeader">
			Klasse:
		</div>
	</div>
</div>
<!-- Inhalt unter der Navigationsleite -->
<div class="pages">
	<div data-page="tabelle" class="page">
		<div class="page-content">
			<div class="content-block">
				<div class="content-block-inner">
					<table id="classTabelle" style="width:100%"></table>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
