<div data-page="showTabelle" class="page">
	<!-- Navigationsleiste -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="index.html" onclick="currentPage = pageState.MAINPAGE;" class="back link icon-only"><i class="icon icon-back"><!-- --></i></a>
			</div>
			<div class="center klassenHeader">
				Klasse:
			</div>
		</div>
	</div>
	<!-- Inhalt unter der Navigationsleite -->
	<div class="page-content">
		<div class="content-block">
			<div class="content-block-inner">
				<table id="classTabelle" style="width:100%"></table>
			</div>
		</div>
	</div>
</div>