<!-- Informationsseite über diese App-->

<div data-page="infos" class="page">
  <!-- Navigationsleiste -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" onclick="currentPage = pageState.MAINPAGE;" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center klassenHeader">Informationen</div>
    </div>
  </div>
  <!-- Inhalt unter der Navigationsleite -->
  <div class="page-content">
    <div class="content-block info-page">
        <h3>Allgemeine Hinweise</h3>
        <p>Diese App wurde im Rahmen eines schulischen Projektes für die Ferdinand-Braun-Schule Fulda entwickelt.</p>
        
        <h3>Weiterverwendung</h3>
        <p>Der Source-Code der App ist öffentlich verfügbar und kann gerne weiterverwendet werden.</p>

        <h3>Anregungen</h3>
        <p>Anregungen und Probleme können an folgende E-Mail Adresse geschickt werden: <a class="external" href="mailto:fbs.fulda.dev@gmail.com">fbs.fulda.dev@gmail.com</a></p>

        <h3>Entwickler der App:</h3>
        <ul>
            <li>Alexander Propp</li>
            <li>Lorenz Hohmann</li>
            <li>Tim Blochwitz</li>
        </ul>
        <p><strong>Betreuende Lehrkraft:</strong> Jörg Reuter</p>
	</div>
  </div>
</div>